# Based Mike Alnutt Octopus v1.1 / x5sa /vzbot Edited by Chris Altenburg

[include mainsail.cfg]

[include timelapse.cfg]



[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_230003000750314D35323820-if00
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

 
[BDsensor]
sda_pin: PB7
scl_pin: PB6
delay: 20
z_offset: 0
z_adjust: -0.095
x_offset: 0
y_offset: 25
sample_retract_dist: 1
no_stop_probe: true
position_endstop: 1
speed: 1

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100


[idle_timeout]
timeout: 1800

[delayed_gcode bed_mesh_init]
initial_duration: .01
gcode:
  BED_MESH_PROFILE LOAD=default


[bed_screws]
screw1: 0, 0
screw2: 315, 0
screw3: 315, 303
screw4: 0, 303
screw5: 158, 303
screw6: 158, 0

[gcode_macro START_PRINT]
gcode:
  #### set defaults ####
  {% set extruder = params.EXTRUDER|default(0) %}
  {% set bed = params.BED|default(0) %}
  #### end off definition  ###

    # Reset extruder 
      G92 E0

      # Heat the bed and wait
      M190 S{bed}

      # Set and wait for nozzle to reach temperature 
      M109 S{extruder}
    
      # Use absolute coordinates 
      G90 
      # Home the printer 
      G28 
       Z_TILT_ADJUST
      G28 Z
      # Move the nozzle near the bed
      G1 Z5 F3000
      BED_MESH_PROFILE LOAD="default"
     
    




[gcode_macro PURGE_LINE]
gcode:


# Move Z Axis up little to prevent scratching of Heat Bed

    G1 Z2.0 F3000

# Move to start position

    G1 X10 Y20 Z0.3 F5000.0

# Draw the first line

    G1 X10 Y200.0 Z0.3 F1500.0 E15

# Move to side a little

    G1 X10.3 Y200.0 Z0.3 F5000.0

# Draw the second line

    G1 X10.3 Y20 Z0.3 F1500.0 E30

# Reset Extruder

    G92 E0

# Move Z Axis up little to prevent scratching of Heat Bed

    G1 Z2.0 F3000
# Move over to prevent blob squish
    G1 X5 Y20 Z0.3 F5000.0  


[gcode_macro END_PRINT]
gcode:
        #Get Printer built volume dimensions
        {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
        {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}

        #Fix-up extruder
        G91                                            
        G1 E-2 F2700                                    
        G1 E-1.5 Z0.2 F2400                        
        G1 X5 Y5 F6000                               
        G1 Z10                                     
        G90                                        

        #Present print
        G1 Z{printer.toolhead.position.z + 10} F600
        G1 X{X_MAX / 2} Y{Y_MAX} F6000
        M106 S0                                      
        M104 S0                                       
        M140 S0                                 

        #Disable Steppers
        M84 X Y E 





[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  TURN_OFF_HEATERS
  M106 S0
  CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}









# Driver0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200 
endstop_pin: !PG6
position_endstop: 0
position_min: 0
position_max: 315 # for bed mesh
homing_speed: 50
homing_retract_dist: 10
second_homing_speed: 10.0


# Driver1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200 
endstop_pin: !PG15
position_endstop: 0
position_min: 0
position_endstop: 0
position_max: 325
homing_retract_dist: 10
homing_speed: 50.0
second_homing_speed: 10.0


# Driver2
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_min: 0.0
#position_endstop: 0
position_max: 365
homing_speed: 8


# Driver3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
microsteps: 16
rotation_distance: 8


[safe_z_home]
home_xy_position: 165,165 # Change coordinates to the center of your print bed
speed: 120
z_hop: 1                # Move up 1mm
z_hop_speed: 5.0





[z_tilt]
z_positions: -50, 155
  365, 155
points: 0, 133
  315, 133
speed: 200
horizontal_move_z: 4
retries: 5
retry_tolerance: 0.0075



# Driver4
[extruder]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 27.470
gear_ratio: 50:8 #for sherpa mini 8t motor
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA2 # HE0
sensor_pin:  PF4 # T0
sensor_type: PT1000
#control: pid
#pid_Kp: 21.259
#pid_Ki: .998
#pid_Kd: 113.24
min_temp: 0
max_temp:300
pressure_advance: 0.014
pressure_advance_smooth_time: 0.04
max_extrude_only_distance: 350

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: ATC Semitec 104GT-2
#control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: PA8

[heater_fan fan1]
pin: PE5

[controller_fan Stepper]
pin: PD12
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, extruder
idle_timeout: 60

#[temperature_fan MCU_fan]
#pin: PD12
#kick_start_time: 0.1
#shutdown_speed: 0
#off_below: 0.1
#max_power: 1.0
#sensor_type: temperature_mcu
#control: pid
#min_temp: 0
#max_temp: 100
#pid_kp: 1.0
#pid_ki: 0.5
#pid_kd: 2.0
#min_speed: 0.1
#max_speed: 1.0
#target_temp:30

[tmc2209 stepper_x]
uart_pin: PC4
diag_pin: PG6
run_current: 0.800
stealthchop_threshold: 0

[tmc2209 stepper_y]
uart_pin: PD11
diag_pin: PG9
run_current: 0.800
stealthchop_threshold: 0

[tmc2209 stepper_z]
uart_pin: PC6
diag_pin: PA15
run_current: 0.800
stealthchop_threshold: 0

[tmc2209 stepper_z1]
uart_pin: PC7
diag_pin: PA15
run_current: 0.800
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: PF2
run_current: 0.800

[bed_mesh]
speed: 120
horizontal_move_z: 0.8
mesh_min: 20, 20
mesh_max: 315, 285
algorithm: bicubic
probe_count: 10, 10



[force_move] 
enable_force_move: true




[board_pins]
aliases:



#######################################################################################
#OrcaSlicer
######################################################################################
# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.230000, 0.220000, 0.210000, 0.200000, 0.195000, 0.170000, 0.145000, 0.120000, 0.115000, 0.130000
#*# 	0.200000, 0.200000, 0.195000, 0.180000, 0.170000, 0.160000, 0.130000, 0.100000, 0.110000, 0.130000
#*# 	0.165000, 0.155000, 0.140000, 0.145000, 0.135000, 0.120000, 0.105000, 0.090000, 0.095000, 0.115000
#*# 	0.100000, 0.095000, 0.105000, 0.095000, 0.075000, 0.060000, 0.035000, 0.020000, 0.030000, 0.070000
#*# 	0.065000, 0.070000, 0.060000, 0.050000, 0.030000, 0.020000, 0.000000, -0.005000, 0.005000, 0.020000
#*# 	0.040000, 0.040000, 0.035000, 0.030000, 0.005000, -0.010000, -0.035000, -0.050000, -0.025000, -0.010000
#*# 	0.005000, 0.015000, 0.015000, 0.010000, 0.000000, -0.015000, -0.050000, -0.065000, -0.050000, -0.025000
#*# 	-0.050000, -0.050000, -0.050000, -0.060000, -0.085000, -0.100000, -0.115000, -0.130000, -0.120000, -0.100000
#*# 	-0.080000, -0.085000, -0.080000, -0.095000, -0.105000, -0.125000, -0.150000, -0.160000, -0.140000, -0.120000
#*# 	-0.075000, -0.080000, -0.090000, -0.100000, -0.105000, -0.120000, -0.145000, -0.150000, -0.135000, -0.135000
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 314.93
#*# min_y = 45.0
#*# max_y = 309.96
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.680
#*# pid_ki = 0.807
#*# pid_kd = 96.801
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 59.002
#*# pid_ki = 2.370
#*# pid_kd = 367.289
#*#
#*# [BDsensor]
